.item{
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 15px 0 15px 0;
  padding-left: 10px;
}

.item img{
  width: 50px;
  height: auto;
}

.button{
  position: relative;
  display: inline-block;
}

.postsBlock{
  color: beige;
  padding-left: 10px;
  margin-top: 10px;
}
