.header {
    grid-area: h;
    background-color: rgb(229 207 125);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    padding-right: 15px;
    list-style: none;
    font-size: 1.5rem;
    font-weight: lighter;
}

.navLink{
    display: inline-block;
    background-color: #b6a559;
    text-decoration: none;
    color: beige;
    cursor: pointer;
    border: 1px Solid #565605;
    padding: 3px;
    border-radius: 5px;
}
.auth {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid beige;
    align-items: center;
    justify-content: center;
    background-color: #6e682c;
    color: beige;
}

.button{
    color: beige;
    margin-left: 5px;
    height: 25px;
    background-color: #6e682c;
    cursor: pointer;
    border: 2px solid beige;
    transition: .3s;
    border-radius: 5px;
}
.button:hover {
    background-color: #ada55c;
}
