.nav {
  grid-area: n;
  background-color: rgb(159, 149, 103);
  padding: 20px;
  font-size: 2rem;
}

.item {
  padding-bottom: 15px;
  color: beige;
}

.item a {
  color: beige;
  text-decoration: none;
}

.item:last-of-type {
  padding-top: 25px;
}

.item:last-child a {
  padding-top: 40px;
  color: beige;
}

.item a.activeLink {
  color: rgb(236, 109, 18);
}

.friends {
  margin-top: 180px;
  color: beige;
}

.itemFriend {
  font-size: 1.5rem;
  color: beige;
  display: inline-block;
  padding-right: 10px;
}

.itemFriends {
  display: flex;
  width: 50px;
  flex-direction: column;
  font-size: 12px;
  font-weight: bold;
}

.imgFriends {
  width: 45px;
  border-radius:  20px;
}

.wrapperFriends {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.nameFriends {
  margin-top: 10px;
  color: beige;
}
