.page {
    margin: 5px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    color: rgb(236, 109, 18);
    font-size: 1.1rem;
}

.titlePage {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

.wrapperForCount {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.button {
    position: relative;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 2px solid rgb(236, 109, 18);
    border-radius: 50%;
    transition: .5s;
}

.button:hover::after {
    transition: .1s;
    border-left: 2px solid rgb(236, 109, 18);
    border-bottom: 2px solid rgb(236, 109, 18);
}

.button:after {
    position: absolute;
    top: 6px;
    left: 8px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    transform: rotate(45deg);
}

.button.buttonRight:after {
    top: 6px;
    left: 5px;
    transform: rotate(227deg);
}
