
.active {
    color: blueviolet;
}

.Image {
    max-width: 100%;
    height: auto;
}

.discriptionBlock {
    margin: 10px;
    display: flex;
}

.wrapperForStatus{
    margin: 10px;
}

.wrapperImage {
    width: 140px;
    hight: 140px;
}

.avatarImage {
    width: 100%;
    border-radius: 5px;
}

.wrapperName{
    color: #4f0c8d;
    margin: 5px;
    text-transform:capitalize;
    font-size: 1.3rem;
}

.lookingJob{
    font-size: 1rem;
    margin: 5px;
}

.wrapperInput{
    margin: 5px;
}