
.active {
    color: blueviolet;
}

.Image {
    max-width: 100%;
    height: auto;
}

.discriptionBlock {
    margin: 10px;
    display: flex;
}

.wrapperForStatus{
    color: #4f0c8d;
    margin: 10px;
}

.wrapperImage {
    width: 140px;
    hight: 140px;
}

.avatarImage {
    width: 100%;
    border-radius: 5px;
}

.wrapperName{
    color: #4f0c8d;
    margin: 5px;
    font-size: 1.3rem;
}

.lookingJob, .contacts{
    font-size: 1rem;
    margin: 8px 0;
}
.contacts{
    margin-left: 15px;
   color: #3d0570;
}

.wrapperInput{
    margin: 5px;
}

.status{
    font-style:italic;
    font-size: 1.2rem;
}
.formError{
    color:red;
    border: 1px Solid Red;
    width:175px;
    height: 35px;
    margin-top: 10px;
    word-wrap:break-word;
}