
.active {
    color: blueviolet;
}

.image {
    width: 100%;
    height: auto;
}

.discriptionBlock {
    margin: 20px;
    display: flex;
}

.wrapperForStatus {
    color: rgb(114, 50, 6);
    margin: 10px;
}

.wrapperImage {
    width: 140px;
    height: 140px;
}

.avatarImage {
    width: 100%;
    border: Solid 3px rgb(236, 109, 18);
    border-radius: 50%;
    z-index: 5;
    position: relative;
    margin-top: -12px;
}

.wrapperName {
    color: beige;
    margin-left: 30px;
    font-size: 1.3rem;
}

.lookingJob, .contacts {
    font-size: 1rem;
    margin: 8px 0;
}

.contacts {
    margin-left: 15px;
    color: beige;
}

.wrapperInput {
    margin-top: 10px;
    margin-left: 42px;
}

.status {
    padding-top: 4px;
    font-size: 1.6rem;
}

.status:hover {
 cursor:pointer;
}

.formError {
    color: red;
    border: 1px Solid Red;
    width: 175px;
    height: 35px;
    margin-top: 10px;
    word-wrap: break-word;
}

.button{

}
