
.formControl.error input,
.formControl.error textarea {
    border: 1.5px Solid red;
}

.formControl.error span {
    color: red
}

.spanError {
    padding-left: 50px;
}

.formError {
    color: red;
    border: 1px Solid Red;
    width: 175px;
    height: 35px;
    margin-top: 10px;
    word-wrap: break-word;
}

.img {
    margin-top: 15px;
    width: 175px;
    height: auto;
}

.wrapperForLogin {
    width: 350px;
    margin: 0 auto
}

.password{
    color:beige;
}
