.dialogs {
  display: grid;
 grid-template-columns: 4fr 10fr;
}

.dialogsItem {
  font-size: 1.5rem;
  padding-top: 15px;
  padding-left: 15px;
 
}

.dialogsItem .dialog {
  padding-bottom: 15px;
}

.navLink{
  text-decoration: none;
  color:rgb(125, 125, 27);
}

.activeLink{
 color: rgb(130, 41, 41);
}
.messages {
  font-size: 1.2rem;
  padding-top: 15px;
  color: rgb(88, 88, 159);
}

.message {
  padding-bottom: 10px;
}