.dialogs {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr;
}

.dialogsItem {
  font-size: 1.5rem;
  padding-top: 15px;
  padding-left: 15px;

}

.dialogsItem .dialog {
  padding-bottom: 15px;
}

.navLink {
  text-decoration: none;
  color: beige;
}

.activeLink {
  color: rgb(236, 109, 18);
}

.messages {
  font-size: 1.2rem;
  padding-top: 15px;
  color: beige;
}

.answerMessages{
  margin-top: 100px;
}

.message {
  padding-bottom: 10px;
}

.imgForDialogs {
  width: 40px;
  margin-right: 10px;
}

.button{
  margin-top: 10px;
  display: block;
  width:35px;
  text-align: center;
}

.textarea{
  margin-top: 15px;
  resize: none;
}
